body {
    background-color: whitesmoke;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(1, 3, 18);
}

h3 {
    color: rgba(0, 0, 0, 0.932);
}

thead {
    color: rgba(255, 255, 255, 0.915);
}

.th1 {
    background-color: rgb(15, 97, 0);
}

.th2 {
    background-color: rgb(94, 10, 10);
}

.th3 {
    background-color: rgb(16, 7, 62);
}